html {
  font-size: 16px;
  min-height: 100%;
  font-family: sans-serif; }

body {
  height: inherit; }

.App {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .App .navbar-container {
    background: url("./nav_menu_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    width: 100%;
    display: flex;
    align-items: center; }
    .App .navbar-container .logo {
      width: 75%;
      display: flex;
      align-items: center;
      padding: 0 0 0 1em; }
      .App .navbar-container .logo p:first-child {
        position: relative;
        margin-right: 2em;
        border: 2px solid white;
        border-radius: 5px;
        width: 3em;
        height: 2.5em; }
        .App .navbar-container .logo p:first-child span {
          background: url("./7-11-clr-logo.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          background-position: center;
          top: 5px;
          bottom: 5px;
          left: 5px;
          right: 5px; }
      .App .navbar-container .logo p:nth-child(2) {
        height: 2.5em;
        border: 1px solid #ddd;
        margin-right: 2em; }
      .App .navbar-container .logo p:nth-child(3) {
        color: #ddd;
        text-transform: uppercase;
        cursor: pointer; }
    .App .navbar-container .icons {
      width: 25%;
      display: flex;
      justify-content: space-around; }
      .App .navbar-container .icons i {
        font-size: 2.5rem;
        cursor: pointer; }
  .App .stats-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    background: #ddd; }
    .App .stats-container .activity-snapshot,
    .App .stats-container .sales-snapshot {
      width: 49%; }
  .App .main-container {
    padding: 4px;
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial; }
    .App .main-container .tip-container {
      flex-grow: 1; }

.card-container {
  background: white;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-top: 1em;
  margin-right: 10px;
  width: 28%;
  height: 69vh;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  text-align: center; }
  .card-container .navbar, .card-container .horizontal-separator,
  .card-container .items, .card-container .total, .card-container .details {
    width: 100%; }
  .card-container .navbar {
    display: flex; }
    .card-container .navbar.flex-column {
      flex-direction: column; }
    .card-container .navbar p {
      margin: 0.2em 0.5em;
      position: relative !important; }
    .card-container .navbar p:first-child span {
      position: inherit;
      margin: auto;
      display: block;
      width: 5em;
      height: 5em;
      border: 1px solid white;
      border-radius: 2.5em;
      background: black; }
      .card-container .navbar p:first-child span i {
        font-size: 4.5em;
        color: white; }
    .card-container .navbar .creds p:nth-child(1) {
      font-size: 2rem; }
    .card-container .navbar .creds p:nth-child(2) {
      font-size: 1.3rem; }
  .card-container .horizontal-separator {
    border: 2px solid #ddd;
    width: 100%; }
  .card-container .horizontal-separator-1 {
    border: 2px solid #ddd;
    width: 94%;
    position: absolute;
    bottom: 20%; }
  .card-container .items {
    max-height: 250px;
    overflow-y: auto; }
    .card-container .items .item {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .card-container .items .item .desc {
        margin-bottom: 0.2em; }
        .card-container .items .item .desc span:first-child {
          margin-right: 1em; }
      .card-container .items .item .price {
        margin-bottom: 0.2em; }
  .card-container .thumb-img {
    width: 50px; }
  .card-container .total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 7%;
    left: 0; }
    .card-container .total span {
      display: block; }
      .card-container .total span.items {
        font-size: 1.5em; }
  .card-container .button-pos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0; }
  .card-container button {
    height: 2em;
    background: #646464;
    color: white;
    font-size: 1.2rem; }
  .card-container .close {
    position: absolute !important;
    left: 5px;
    top: 7px;
    width: 32px;
    height: 32px;
    opacity: 0.3; }
  .card-container .close:hover {
    opacity: 1; }
  .card-container .close:before, .card-container .close:after {
    position: absolute !important;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333; }
  .card-container .close:before {
    transform: rotate(45deg); }
  .card-container .close:after {
    transform: rotate(-45deg); }

.tips-container {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: gray;
  color: white;
  margin-top: 1em;
  width: 28%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center; }

.tips-container .tip-item {
  display: block;
  margin: auto; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
  width: 100%;
  height: 100%; }

.age-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 70vh;
  background: white;
  color: black; }

.age-content {
  display: block;
  padding: 5px;
  position: absolute;
  top: 15%;
  left: 22%; }

.screen {
  width: 165px;
  height: 17px;
  padding: 0px 0px 20px 120px;
  border-bottom: 2px solid grey;
  margin-bottom: 20px; }

.digits {
  font-size: 30px; }

.btn {
  width: 90px;
  height: 80px;
  border-radius: 50%;
  margin: 2px; }

.btn:focus {
  border: 1px solid black;
  border-radius: 50%;
  outline: none; }

.modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  background: transparent;
  top: 0;
  right: 0; }

.modal-body-1 {
  position: absolute;
  width: 100%;
  background-color: transparent;
  top: 9%;
  left: 50%; }

.modal-body-1 .card-container {
  background: white;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-top: 1em;
  margin-right: 10px;
  width: 47%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  text-align: center; }
  .modal-body-1 .card-container .navbar, .modal-body-1 .card-container .horizontal-separator,
  .modal-body-1 .card-container .items, .modal-body-1 .card-container .total, .modal-body-1 .card-container .details {
    width: 100%; }
  .modal-body-1 .card-container .navbar {
    display: flex; }
    .modal-body-1 .card-container .navbar.flex-column {
      flex-direction: column; }
    .modal-body-1 .card-container .navbar p {
      margin: 0.2em 0.5em;
      position: relative !important; }
    .modal-body-1 .card-container .navbar p:first-child span {
      position: inherit;
      margin: 0px 0px 0px 100px;
      display: block;
      width: 5em;
      height: 5em;
      border: 1px solid white;
      border-radius: 2.5em;
      background: black; }
      .modal-body-1 .card-container .navbar p:first-child span i {
        font-size: 4.5em;
        color: white; }
    .modal-body-1 .card-container .navbar .creds p:nth-child(1) {
      font-size: 2rem; }
    .modal-body-1 .card-container .navbar .creds p:nth-child(2) {
      font-size: 1.3rem; }
  .modal-body-1 .card-container .horizontal-separator {
    border: 2px solid #ddd;
    width: 100%; }
  .modal-body-1 .card-container .horizontal-separator-1 {
    border: 2px solid #ddd;
    width: 94%;
    position: absolute;
    bottom: 20%; }
  .modal-body-1 .card-container .items {
    max-height: 250px;
    overflow-y: auto; }
    .modal-body-1 .card-container .items .item {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .modal-body-1 .card-container .items .item .desc {
        margin-bottom: 0.2em; }
        .modal-body-1 .card-container .items .item .desc span:first-child {
          margin-right: 1em; }
      .modal-body-1 .card-container .items .item .price {
        margin-bottom: 0.2em; }
  .modal-body-1 .card-container .thumb-img {
    width: 50px; }
  .modal-body-1 .card-container .total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 7%;
    left: 0; }
    .modal-body-1 .card-container .total span {
      display: block; }
      .modal-body-1 .card-container .total span.items {
        font-size: 1.5em; }
  .modal-body-1 .card-container .button-pos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0; }
  .modal-body-1 .card-container button {
    height: 2em;
    background: #646464;
    color: white;
    font-size: 1.2rem; }
  .modal-body-1 .card-container .close {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3; }
  .modal-body-1 .card-container .close:hover {
    opacity: 1; }
  .modal-body-1 .card-container .close:before, .modal-body-1 .card-container .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333; }
  .modal-body-1 .card-container .close:before {
    transform: rotate(45deg); }
  .modal-body-1 .card-container .close:after {
    transform: rotate(-45deg); }

.modal-body-2 {
  width: 100%;
  height: 100%;
  background-color: transparent; }

.modal-body-2.card-container {
  background: white;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-top: 1em;
  margin-right: 10px;
  width: 47%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  text-align: center; }
  .modal-body-2.card-container .navbar, .modal-body-2.card-container .horizontal-separator,
  .modal-body-2.card-container .items, .modal-body-2.card-container .total, .modal-body-2.card-container .details {
    width: 100%; }
  .modal-body-2.card-container .navbar {
    display: flex; }
    .modal-body-2.card-container .navbar.flex-column {
      flex-direction: column; }
    .modal-body-2.card-container .navbar p {
      margin: 0.2em 0.5em;
      position: relative !important; }
    .modal-body-2.card-container .navbar p:first-child span {
      position: inherit;
      margin: 0px 0px 0px 100px;
      display: block;
      width: 5em;
      height: 5em;
      border: 1px solid white;
      border-radius: 2.5em;
      background: black; }
      .modal-body-2.card-container .navbar p:first-child span i {
        font-size: 4.5em;
        color: white; }
    .modal-body-2.card-container .navbar .creds p:nth-child(1) {
      font-size: 2rem; }
    .modal-body-2.card-container .navbar .creds p:nth-child(2) {
      font-size: 1.3rem; }
  .modal-body-2.card-container .horizontal-separator {
    border: 2px solid #ddd;
    width: 100%; }
  .modal-body-2.card-container .horizontal-separator-1 {
    border: 2px solid #ddd;
    width: 94%;
    position: absolute;
    bottom: 20%; }
  .modal-body-2.card-container .items {
    max-height: 250px;
    overflow-y: auto; }
    .modal-body-2.card-container .items .item {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .modal-body-2.card-container .items .item .desc {
        margin-bottom: 0.2em; }
        .modal-body-2.card-container .items .item .desc span:first-child {
          margin-right: 1em; }
      .modal-body-2.card-container .items .item .price {
        margin-bottom: 0.2em; }
  .modal-body-2.card-container .thumb-img {
    width: 50px; }
  .modal-body-2.card-container .total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 7%;
    left: 0; }
    .modal-body-2.card-container .total span {
      display: block; }
      .modal-body-2.card-container .total span.items {
        font-size: 1.5em; }
  .modal-body-2.card-container .button-pos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0; }
  .modal-body-2.card-container button {
    height: 2em;
    background: #646464;
    color: white;
    font-size: 1.2rem; }
  .modal-body-2.card-container .close {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3; }
  .modal-body-2.card-container .close:hover {
    opacity: 1; }
  .modal-body-2.card-container .close:before, .modal-body-2.card-container .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333; }
  .modal-body-2.card-container .close:before {
    transform: rotate(45deg); }
  .modal-body-2.card-container .close:after {
    transform: rotate(-45deg); }
